@import "tailwindcss";

:root {
  --color-bg: #051b14;
  --color-surface: #0f380f;
  --color-text: #e0f8cf;
  --color-dim: #8bac0f;
  --color-dark: #306230;
  --color-accent: #8b1d46;
  --color-accent-hover: #a82e5c;
}

[data-theme="lollipop"] {
  --color-bg: #151640;      
  --color-surface: #3f6d9e; 
  --color-text: #e6f2ef;    
  --color-dim: #9bf6ff;   
  --color-dark: #27436b;   
  --color-accent: #f783b0;  
  --color-accent-hover: #ff9ec1;
}

@layer base {
  html, body {
    cursor: auto;
  }

  a, button, [role="button"], input, select, textarea, .cursor-pointer {
    cursor: pointer;
  }
}


@theme {
  --font-pixel: "Pixelify Sans", sans-serif;
  --font-sans: "Inter", sans-serif;

  --color-gb-bg: var(--color-bg);
  --color-gb-surface: var(--color-surface);
  --color-gb-text: var(--color-text);
  --color-gb-dim: var(--color-dim);
  --color-gb-dark: var(--color-dark);
  --color-gb-accent: var(--color-accent);
  --color-gb-accent-hover: var(--color-accent-hover);
}

.scanlines {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0) 50%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0.1)
  );
  background-size: 100% 6px;
  pointer-events: none;
  z-index: 9999;
  opacity: 0.4;
}

body {
  background-color: var(--color-gb-bg);
  color: var(--color-gb-text);
  font-family: var(--font-sans);
  
  background-image: radial-gradient(rgba(15, 56, 15, 0.453) 1px, transparent 1px);
  background-size: 20px 20px;
}