@import "tailwindcss";

body {
  background-color: #f3f4f6; 
  
  h1 {
    color: #333;
    &:hover {
       color: #000;
    }
  }
}

.btn-primary {
  @apply px-4 py-2 bg-blue-500 text-white rounded hover:bg-blue-600 transition-colors;
}